      <div class="todo-container"
          >
        
        <h2>Todo Page</h2>

        <!-- Input -->
       <div> <input
          [(ngModel)]="task"
          type="text"
          placeholder="Enter a task"
          style=" padding:10px; border:1px solid #ccc; 
                 border-radius:5px; margin:20px 20px 20px 0;"
        />

        <!-- Add button -->
        <button (click)="addTodo()"
          style="padding:10px 15px; border:none; border-radius:5px;
                 background-color:#28a745; color:#fff; cursor:pointer;">
          Add
        </button></div>

        <!-- Task List -->
        <ul>
          <div *ngIf="todos.length === 0"
               style="margin-top:50px; max-width:500px;">
            NO TASK FOUND
          </div>

          <li *ngFor="let todo of todos; let i = index"
              style="max-width:500px; padding:10px; border-bottom:1px solid #eee;
                     color:#0d6303ff; display:flex; justify-content:space-between;
                     align-items:center;">
        <div class="itemlist"> <span>{{ i + 1 }}. {{ todo }}</span>

            <button (click)="deleteTask(i)"
              style="padding:5px 10px; border:none; border-radius:5px;
                     background-color:#dc3545; color:#fff; cursor:pointer;">
              Delete
            </button></div> 
          </li>
        </ul>
      </div>
   