header nav {
  display: flex;
  /* make nav a flexbox */
  justify-content: space-between;
  /* push title left, menu right */
  align-items: center;
  /* center vertically */
  padding-right: 50px;
  padding-left: 30px;
  background: #1e4101;
  /* optional */
}

header nav ul {
  list-style: none;
  display: flex;
  /* make nav items horizontal */
  gap: 20px;
  margin: 0;
  padding: 0;
}

ul li {
  /* add spacing so hover feels bigger */
  cursor: pointer;
  /* show pointer */
}

 li:hover {
  background-color: rgb(3, 2, 95);
  border-radius: 10px;
  /* hover effect */
}

li.active {
 
  background-color: rgb(127, 26, 4);
  color: rgb(177, 20, 20);
  border-radius: 10px;



}




header nav ul li a {
  display: block;
  /* makes link fill the li */
  padding: 10px 15px;
  text-decoration: none;
  color: wheat;
}

h3 {
  color: white;
}